h1 , h5 , ul , li{
    color: black;
}

ul{
    padding-left: 10px;
}

.how_to_play{
    display: flex;
    justify-content: flex-end;
    padding-right: 300px;
}

.img_examples {
    width: 420px;
    height: 225px;
}